_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# ignore the raw data and the outputs in the comparison folders
./code_poisson_comparison/abell2744/data/
./code_poisson_comparison/abell2744/imgs/
./code_poisson_comparison/abell2744/tables/


